# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Built binaries
cmd/mpagent/tdns-mpagent
cmd/mpsigner/tdns-mpsigner
cmd/mpcombiner/tdns-mpcombiner
cmd/mpcli/tdns-mpcli
cmd/mpauditor/tdns-mpauditor

# Generated version files
cmd/*/version.go

# Editor backup files
*~
*/*~
*/*/*~

# IDE
.idea/
.vscode

# Go workspace
go.work
